header {
  background-color: #0F092F;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #1C1545;
}

.box-titulo-principal {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.box-titulo-principal h1 {
  margin: 0;
}

.box-navegacao-text, .box-navegacao-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.box-navegacao-text a, .box-navegacao-icons a {
  margin: 0 10px;
  color: white;
}
.box-navegacao-text .icons-nav, .box-navegacao-icons .icons-nav {
  font-size: 20px;
}

.btn-pesquisa-nav {
  color: white;
  border: none;
}

.home-box {
  height: 300px;
  margin: 10px;
  background-image: url(../cyberpunk2077-redimensionado-para-1920x800-redimensionado-para-1920x400.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-box .itens {
  display: flex;
  flex-direction: column;
}

.button-grande {
  padding: 8px;
  border: none;
  background-color: #0F092F;
  color: white;
  border-radius: 10px;
  width: 60%;
}

.quadrado-branco {
  padding: 3px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  background: white;
}

.espaco-preco-home {
  margin: 20px 0;
}

.cards-jogos {
  color: white;
  background-color: #0F092F;
  height: 230px;
  border-radius: 10px;
  margin: 1px;
}
.cards-jogos .box-promocao-card {
  padding: 2px;
  background: white;
  color: black;
  border-radius: 5px;
}
.cards-jogos img {
  background-image: url(../cyberpunk.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 140px;
  border-radius: 10px;
}
.cards-jogos h2 {
  margin: 10px 5px;
}
.cards-jogos span {
  margin: 0 5px;
}

.card-categoria-genero {
  background-color: azure;
  border-radius: 10px;
  height: 130px;
}
.card-categoria-genero h3 {
  padding: 5px 20px;
}
.card-categoria-genero p {
  margin: 0 20px;
}
.card-categoria-genero button {
  margin: 10px 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 25%;
  background: #0F092F;
  color: white;
}

.lancamentos, .promocoes {
  margin: 40px 0;
}
.lancamentos .titulo-pages, .promocoes .titulo-pages {
  margin: 30px 25px;
  color: white;
}

.box-categoria-genero {
  padding: 10px;
}

footer {
  background-color: #0F092F;
  width: 100%;
  color: white;
  height: 215px;
}
footer .links-footer {
  display: flex;
  font-size: 15px;
  margin: 20px 0 0 0;
}
footer .links-footer a {
  color: white;
}
footer .links-footer h3 {
  font-size: 18px;
  padding: 0 0 10px 0;
}
footer .redes-sociais-footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}
footer .redes-sociais-footer .icons-redes-sociais-footer {
  display: flex;
}
footer .redes-sociais-footer .icons-redes-sociais-footer a {
  background: #1C1545;
  padding: 15px;
  border-radius: 50%;
  margin: 0 10px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
