@use "../utilites/color.scss" as *;

.cards-jogos{
    color:$cor-texto;
    background-color: $cor-principal;
    height: 260px;
    border-radius: 10px;
    margin: 1px;

   .imagem-promocao{
        position: relative;
    }

    .box-promocao-card{
        padding: 4px;
        background: white;
        color: black;
        border-radius: 5px;
        position: absolute;
        font-weight: 800;
        bottom: 105px;
        left: 210px;   
    }
    
    
    img{
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       width: 100%;
       height: 140px;
       border-radius: 10px;
    }

    h2{
        margin: 10px 10px;
        font-size: 18px;
        font-weight: 800;
    }

    span{
        margin: 0 10px;
        font-size: 15px;
        font-weight: 400;
    }
}

.card-categoria-genero{
    border-radius: 10px;
    height: 130px;
    background-image: url(../imagens/categoria.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    h3{
        padding: 5px 20px;
    }

    p{
        margin: 0 20px;
    }

    button{
        margin: 10px 20px;
        border: none;
        border-radius: 5px;
        padding: 5px;
        width: 25%;
        background: $cor-principal;
        
    }

}