@use "../utilites/color.scss" as *;

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color: $cor-secunadria;
     font-family: "Inter", sans-serif;
     background: linear-gradient(to left,   135deg, $cor-principal 0%, $cor-secunadria 55%, white 100%);
}